---

- name: PHP | Create Pear tmp directory
  file:
    dest: "{{ php_pear_tmp_path }}"
    state: directory

- name: PHP | Set Pear tmp directory
  shell: "set -o pipefail && {{ php_install_dir }}/bin/pear config-set temp_dir {{ php_pear_tmp_path }}"
  args:
    executable: /bin/bash
  ignore_errors: no
  changed_when: false

- name: PHP | Installing Pear packages
  include_tasks: pecl-install-library.yml item={{ item }}
  with_items: "{{ php_pear_packages }}"
  ignore_errors: no
  when: php_pear_packages is defined and php_pear_packages|length > 0
