# {{ ansible_managed| comment('plain', decoration='#') }}

[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/sbin/php-fpm --fpm-config {{ php_fpm_configuration_template.dest }}
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
